{% assign parent_collection = collection.metafields.custom.parent_collection.value %}
{% if parent_collection == blank %}
  {% assign parent_collection = collection %}
{% endif %}


{% assign child_collections = collection.metafields.custom.child_collections %}
{% if child_collections == blank and parent_collection.metafields.custom.child_collections != blank %}
  {% assign child_collections = parent_collection.metafields.custom.child_collections %}
{% endif %}

{% if child_collections == blank %}
  <div class="parent-collection">
        <div><a href="{{ parent_collection.url }}" class="parent-collection-link">
          &lt; Back to {{ parent_collection.title }}
        </a></div>
    </div>
{% endif %}

{% if child_collections != blank %}
  <div class="child-collections-grid">
    <div class="child-collections-wrapper">
        <div class="child-collection-item">
            <a href="{{ parent_collection.url }}" class="child-collection-link {% if collection.handle == parent_collection.handle %}child-collection-link--active{% endif %}">
            All {{ parent_collection.title }}
            </a>
      </div>
      {% for collection_ref in child_collections.value %}
        {% assign collection_handle = collection_ref.handle %}
        {% assign child_collection = collections[collection_handle] %}
        {% if child_collection != blank %}
          <div class="child-collection-item">
            <a href="{{ child_collection.url }}" class="child-collection-link {% if collection.handle == child_collection.handle %}child-collection-link--active{% endif %}">
            {{ child_collection.title }}
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endif %} 
